Web Services-Afternoon/SOAP/EmployeeService/WebContent/wsdl/EmployeeImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://employee.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://employee.com" xmlns:intf="http://employee.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://employee.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getName">
    <complexType/>
   </element>
   <element name="getNameResponse">
    <complexType>
     <sequence>
      <element name="getNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setName">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNameResponse">
    <complexType/>
   </element>
   <element name="getId">
    <complexType/>
   </element>
   <element name="getIdResponse">
    <complexType>
     <sequence>
      <element name="getIdReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAddress">
    <complexType/>
   </element>
   <element name="getAddressResponse">
    <complexType>
     <sequence>
      <element name="getAddressReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setId">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setIdResponse">
    <complexType/>
   </element>
   <element name="getAge">
    <complexType/>
   </element>
   <element name="getAgeResponse">
    <complexType>
     <sequence>
      <element name="getAgeReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEmail">
    <complexType/>
   </element>
   <element name="getEmailResponse">
    <complexType>
     <sequence>
      <element name="getEmailReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setAddress">
    <complexType>
     <sequence>
      <element name="address" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setAddressResponse">
    <complexType/>
   </element>
   <element name="setEmail">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setEmailResponse">
    <complexType/>
   </element>
   <element name="setAge">
    <complexType>
     <sequence>
      <element name="age" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setAgeResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAgeResponse">

      <wsdl:part element="impl:getAgeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setAddressRequest">

      <wsdl:part element="impl:setAddress" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNameRequest">

      <wsdl:part element="impl:setName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setEmailResponse">

      <wsdl:part element="impl:setEmailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setIdRequest">

      <wsdl:part element="impl:setId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAgeRequest">

      <wsdl:part element="impl:getAge" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEmailRequest">

      <wsdl:part element="impl:getEmail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setAgeResponse">

      <wsdl:part element="impl:setAgeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNameRequest">

      <wsdl:part element="impl:getName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIdResponse">

      <wsdl:part element="impl:getIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNameResponse">

      <wsdl:part element="impl:setNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAddressRequest">

      <wsdl:part element="impl:getAddress" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setAddressResponse">

      <wsdl:part element="impl:setAddressResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIdRequest">

      <wsdl:part element="impl:getId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNameResponse">

      <wsdl:part element="impl:getNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAddressResponse">

      <wsdl:part element="impl:getAddressResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setEmailRequest">

      <wsdl:part element="impl:setEmail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEmailResponse">

      <wsdl:part element="impl:getEmailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setAgeRequest">

      <wsdl:part element="impl:setAge" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setIdResponse">

      <wsdl:part element="impl:setIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmployeeImpl">

      <wsdl:operation name="getName">

         <wsdl:input message="impl:getNameRequest" name="getNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNameResponse" name="getNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setName">

         <wsdl:input message="impl:setNameRequest" name="setNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:setNameResponse" name="setNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId">

         <wsdl:input message="impl:getIdRequest" name="getIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getIdResponse" name="getIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAddress">

         <wsdl:input message="impl:getAddressRequest" name="getAddressRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAddressResponse" name="getAddressResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setId">

         <wsdl:input message="impl:setIdRequest" name="setIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:setIdResponse" name="setIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAge">

         <wsdl:input message="impl:getAgeRequest" name="getAgeRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAgeResponse" name="getAgeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEmail">

         <wsdl:input message="impl:getEmailRequest" name="getEmailRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEmailResponse" name="getEmailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setAddress">

         <wsdl:input message="impl:setAddressRequest" name="setAddressRequest">

       </wsdl:input>

         <wsdl:output message="impl:setAddressResponse" name="setAddressResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setEmail">

         <wsdl:input message="impl:setEmailRequest" name="setEmailRequest">

       </wsdl:input>

         <wsdl:output message="impl:setEmailResponse" name="setEmailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setAge">

         <wsdl:input message="impl:setAgeRequest" name="setAgeRequest">

       </wsdl:input>

         <wsdl:output message="impl:setAgeResponse" name="setAgeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmployeeImplSoapBinding" type="impl:EmployeeImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAddress">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAddressRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAddressResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAge">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAgeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAgeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEmail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEmailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEmailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setAddress">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setAddressRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setAddressResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setEmail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setEmailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setEmailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setAge">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setAgeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setAgeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmployeeImplService">

      <wsdl:port binding="impl:EmployeeImplSoapBinding" name="EmployeeImpl">

         <wsdlsoap:address location="http://localhost:8080/EmployeeService/services/EmployeeImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
